*{
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: linear-gradient(to bottom,black,rgb(28, 28, 85),rgb(62, 74, 135));
    height: 100vh;
    width: 100vw;
}

nav{
    background-color: white;
    margin-bottom: 2.3rem;
}

nav h1{
    padding:.7rem 2rem;
}

.container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin:2rem;
}

.top{
    background-color: white;
    width: 20rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.6rem;
}

.top input,.top textarea{
    padding: .7rem;
    border-radius: .7rem;
    border: 1px solid gray;
    font-size: 1rem;
}

button{
    background-color: rgb(25, 158, 25);
    color: white;
    border: none;
    padding: .5rem;
    border-radius: .4rem;
    font-size: 1rem;
}

.bottom{
    display: flex;
    flex-direction: column;
    color: white;
    width: 55rem;
    height: 60vh;
    align-content: space-between;
}

h5{
    height: 2.6rem;
    font-size: 1rem;
    display: flex;
    border-bottom: 2px solid white;
    margin-bottom: .6rem;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;
}

#dlt{
  position: absolute;
  right:12.5%;
  
}

ul{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

li{
    padding-left: 1rem;
    list-style-type: none;
    background-color: white;
    height: 4rem;
    border-radius: .4rem;
    color: rgb(56, 50, 50);
    display: flex;
    font-size: 1rem;
    align-items: center;
    width: 97%;
    display: flex;
    gap: .1rem;
}

ul .fa-check{
    font-size: 2rem;
    position: relative;
    cursor: pointer;
    color: green;
    padding: .5rem;
}

ul .fa-times{
    font-size: 2.2rem;
    color: red;
    padding: .5rem;
}

ul .checked{
    color: gray;
    background-color: rgb(194, 239, 213);
    transition: .2s;
    text-decoration: line-through;
}

@media(max-width:884px){
    body{
        height: 100%;
    }
    nav{
        text-align:center ;
    }
    .container{
        flex-direction: column;
    }
    
    .bottom{
        width: 20rem;
    }

    li{
        width: 19rem;
        gap: 0;
    }

    ul .fa-check, ul .fa-times{
        font-size: 1.5rem;
    }

  
}